@use '../../styles/mixins' as m;
@use '../../styles/variables';

.hero {
  padding-bottom: var(--space-6);

  &__container {
    @include m.container;
    display: flex;
    align-items: center; // ← DAS ist entscheidend
    justify-content: space-between;
  }

  &__nav {
    padding: var(--space-2) 0;
  }

  &__logo {
    line-height: 1;

    strong {
      color: var(--color-primary);
      font-weight: 800;
      font-style: normal;
    }

    em {
      color: var(--color-text);
      font-style: italic;
      font-weight: 600;
      opacity: 0.85;
    }
  }

  &__menu {
    display: flex;
    gap: var(--space-4);
    align-items: center;

    a:not(.hero__cta):hover {
      color: var(--color-accent);
    }
  }

  &__cta {
    padding: var(--space-1) var(--space-3);
    border-radius: var(--radius);
    background: var(--color-accent);
    display: inline-flex;
    align-items: center;

    &:hover {
      background: var(--color-primary);
      color: white;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    gap: var(--space-6);
    padding-top: var(--space-6);

    @include m.down(900px) {
      grid-template-columns: 1fr;
      gap: var(--space-5);
    }
  }

  &__image {
    width: 100%;
    max-width: 520px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }

  // 900px
  @include m.down(900px) {
    &__content {
      grid-template-columns: 1fr;
    }

    &__image {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  //MOBILE
  @include m.down(600px) {
    padding-bottom: var(--space-5);

    &__nav {
      padding: var(--space-2) 0;
    }

    &__menu {
      gap: var(--space-2);
      flex-wrap: wrap; // erlaubt Umbruch, wenn es eng wird
    }

    &__cta {
      padding: 0.5rem 0.75rem; // etwas kompakter als desktop
      font-size: 0.95rem;
    }

    &__content {
      padding-top: var(--space-5);
    }
  }
}
