@use './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

@media (min-width: 1400px) {
  :root {
    --container: 90rem; // 1280px
  }
}
