@use './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
