@mixin container {
  max-width: var(--container);
  margin: 0 auto;
  padding-left: clamp(1rem, 4vw, 3rem);
  padding-right: clamp(1rem, 4vw, 3rem);
}

@mixin down($px) {
  @media (max-width: $px) {
    @content;
  }
}
