@mixin container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 24px;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
}
