:root {
  //COLORS
  --color-primary: #0958c0;
  --color-accent: #f4a261;
  --color-bg: #f8fafc;
  --color-text: #1f2937;
  --color-muted: #6b7280;

  //SPACING
  --space-1: 0.5rem; // 8px
  --space-2: 0.75rem; // 12px
  --space-3: 1rem; // 16px
  --space-4: 1.5rem; // 24px
  --space-5: 2rem; // 32px
  --space-6: 3rem; // 48px
  --radius: 0.875rem; // ~14px

  --container: 80rem;
}
